<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>created at</th>
      <th>updated at</th>
      <th>runs</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let pullRequest of pullRequests$ | async">
      <td>{{ pullRequest._id }}</td>
      <td>{{ pullRequest.name }}</td>
      <td>{{ pullRequest.createdAt }}</td>
      <td>{{ pullRequest.updatedAt }}</td>
      <td>
        <ul style="list-style: none; padding: 0; margin: 0">
          <li *ngFor="let run of pullRequest.runs">
            <a routerLink="/runs/{{ run._id }}">{{ run.name }}</a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
