/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';

@import 'bootstrap/scss/bootstrap';

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
}

.highlight-row {
  background-color: yellow !important;
}
